
<div class="container">
  <div class="row mb-2">
    <div class="col-6">
      <button class="btn btn-outline-success" routerLink="/addnew"
      >Añadir Nuevo Registro</button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-danger"
      (click)="deleteEverything()">Borrar Todos Los Registros</button>
    </div>
  </div><!--.row-->
  <table class="table table-hover table-sm">
    <thead class="">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Telefono</th>
        <th>Configuración</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items | async; index as idx">
          <th scope="row">{{idx+1}}</th>
          <td>
            <span *ngIf="item.$key != llave">{{item.nom}}</span>
            <input type="text" [(ngModel)]="newnom"
            *ngIf="item.$key === llave" value="{{item.nom}}" class="form-control"></td>
          <td>
            <span *ngIf="item.$key != llave">{{item.ape}}</span>
            <input type="text" [(ngModel)]="newape"
            *ngIf="item.$key === llave" value="{{item.ape}}" class="form-control"></td>
          <td>
            <span *ngIf="item.$key != llave">{{item.tel}}</span>
            <input type="text" [(ngModel)]="newtel"
            *ngIf="item.$key === llave" value="{{item.tel}}" class="form-control"></td>
          <td>
            <button  class="btn btn-outline-primary" *ngIf="item.$key != llave"
                      (click)="activarEditor(item.$key,item)">Editar</button>
            <button  class="btn btn-outline-warning" *ngIf="item.$key === llave"
                    (click)="updateItem(item.$key,newnom,newape,newtel)">Aceptar</button>
          </td>
        </tr>
    </tbody>
  </table>
</div><!--.container-->
